<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="injectionInterceptorSettings" type="Shove._Web.Security.InjectionInterceptorSettingConfigurationSectionHandler" />
    </configSections>
    <!--
            1、定义例外规则，定义之外的页面，全部完整拦截。
            2、exceptionLevel = 1 表示 <img>、<script> 不拦截，但进行图像类型识别或字符转换。
            3、exceptionLevel = 2 表示全部不拦截。
            4、rule 为拦截规则，支持正则表达式。
            
            5、此文件为示例，请按照此文件格式增加到 Web.Config 中方可生效。
    -->
    <injectionInterceptorSettings>
        <item key="UserPages" exceptionLevel="1" rule="^[/]Member[/][\S\s]*?"/>
        <item key="AdminPages" exceptionLevel="2" rule="^[/]Admin[/][\S\s]*?"/>
    </injectionInterceptorSettings>
</configuration>